html {
  // width: 100%;
  height: 100%;
  //overflow: hidden;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 980px;
  }
}
.container {
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  z-index: 2;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row-inline {
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
}

.smk-layout {
  background-color: #ebf5f7;
  //background-image: url($img-dir + 'city-bg.png');
  position: relative;

}

.city-layout {
  width: 100%;
  height: 513px;
  background-image: url($img-dir + 'city-bg.png');
  -webkit-background-size:cover;
  background-size:cover;
  background-position: 0 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

//about
.about {
  margin-bottom: 48px;
}

//contact
.contact {
  @include clear;

  &_body {
    background-color: #fff;
  }

  &_title {

  }

  &_list {

  }

  &_item {
    position: relative;

  }

  &_text {
    display: inline-block;
    margin-left: 30px;
    color: #2B2A29;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 400;
  }
}
//end contact

//icon
.icon {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 20px;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.icon-place {
  background-image: url($img-dir + 'icon-place.png') ;
}

.icon-phone {
  background-image: url($img-dir + 'icon-phone.png') ;
}

.icon-mail {
  background-image: url($img-dir + 'icon-mail.png') ;
}


.icon-phone-yellow {
  width: 10px;
  height: 10px;
  background: url($img-dir + 'icon-phone-yellow.png') 0 0 no-repeat;
}

.icon-mail-yellow {
  width: 12px;
  height: 8px;
  background: url($img-dir + 'icon-mail-yellow.png') 0 0 no-repeat;
}

//slider
 .c-card-object {
   margin-right: 8px;
 }

 .slider_item {
   position: relative;
   background-color: #1C1E20;
   overflow: hidden;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
 }

.home-slider {
  .slider_item {
    height: 400px;
  }

  &_info {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%;
    background-color: #fff;
    text-align: center;
    padding: 40px 28px;
    font-family: "Roboto";
    color: #222;

    img {
      display: inline-block;
    }
  }

  &_title {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &_text {
    font-size: 18px;
    font-weight: 900;

    p {
      text-align: center;
    }

  }

  &_link {
    color: #1E1E1E;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
  }
}

.stock-slider,
.realty-slider,
.objects-slider {
  padding-right: 47px;
  padding-left: 47px;
}

.stock-slider .slider_item {
  height: 174px;
}


/*slick*/
.slick-slider {
}

.slick-prev {
  left: 4px;
}

.slick-list {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.slick-next {
  right: 4px;
}

.slick-prev,
.slick-next {
  width: 29px;
  height: 29px;
  background-color: #c2c5c7;
  border-radius: 0;

  &::before {
    font-size: 8px;
    color: #000;
  }
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #fbbb00;

  &::before {
    color: #fff;
  }
}

.slick-next::before {
  content: '►';
}
.slick-prev::before {
  content: '◄';
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 3px solid #000;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  vertical-align: top;
}

.slick-dots li.slick-active {
  background-color: #fbbb00;
  border: none;
}
