html {
  // width: 100%;
  height: 100%;
  //overflow: hidden;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 980px;
  }
}
.container {
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  @extend %outline;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row-inline {
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
}

.smk-layout {
  background-color: #ebf5f7;
  background-image: url($img-dir + 'city-bg.png');
  -webkit-background-size:cover;
  background-size:cover;
  background-position: 0 100%;

}

//about
.about {
  margin-bottom: 48px;
}

//contact
.contact {
  @include clear;

  &_body {
    background-color: #fff;
  }

  &_title {

  }

  &_list {

  }

  &_item {
    position: relative;

  }

  &_text {
    display: inline-block;
    margin-left: 30px;
    color: #2B2A29;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 400;
  }
}
//end contact

//icon
.icon {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 20px;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.icon-place {
  background-image: url($img-dir + 'icon-place.png') ;
}

.icon-phone {
  background-image: url($img-dir + 'icon-phone.png') ;
}

.icon-mail {
  background-image: url($img-dir + 'icon-mail.png') ;
}

//slider
 .c-card-object {
   margin-right: 8px;
 }

 .slider_item {
   height: 174px;
   background-color: #1C1E20;
   overflow: hidden;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
 }


/*slick*/
.slick-slider {
  padding-left: 43px;
  padding-right: 43px;
}

.slick-prev {
  left: 4px;
}

.slick-list {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);

}

.slick-next {
  right: 4px;
}

.slick-prev,
.slick-next {
  width: 29px;
  height: 29px;
  background-color: #c2c5c7;
  border-radius: 0;

  &::before {
    font-size: 8px;
    color: #000;
  }
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #fbbb00;

  &::before {
    color: #fff;
  }
}

//.slick-prev:focus,
//.slick-next:focus {
//  background-color: #c2c5c7;
//}

.slick-next::before {
  content: '►';
}
.slick-prev::before {
  content: '◄';
}