/*-----------------------------------*/
/*-----------------------------------*/
/*новое оформление покупки квартиры*/
/*-----------------------------------*/
/*-----------------------------------*/

.stripe {
    position: relative;

    font-family: 'Stem', sans-serif;
    &-bg {
        position: relative;
        width: 100%;

        img {
            display: block;
            width: 100%;
            height: auto;
        }

    }

    &-points {

    }

    &-point {
        display: block;
        //width: 100%;
        position: absolute;
        //top: 0;
        //left: 0;
        cursor: pointer;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        background-color: #fff;

        &:hover {
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -ms-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;

            .stripe-point__section {
                left:-33px;
                -webkit-transition: all .2s ease;
                -moz-transition: all .2s ease;
                -ms-transition: all .2s ease;
                -o-transition: all .2s ease;
                transition: all .2s ease;

                .stripe-point__content {
                    background-color: #e31e24;
                    border:6px solid #fff;
                    color: #ffffff;
                    -webkit-transition: all .2s ease;
                    -moz-transition: all .2s ease;
                    -ms-transition: all .2s ease;
                    -o-transition: all .2s ease;
                    transition: all .2s ease;
                }
            }
            .stripe-point__room {
                left:33px;
                -webkit-transition: all .2s ease;
                -moz-transition: all .2s ease;
                -ms-transition: all .2s ease;
                -o-transition: all .2s ease;
                transition: all .2s ease;

                .stripe-point__content {
                    
                }
            }


            .stripe-point__arrow {
                border-top-color: #e31e24;
                -webkit-transition: all .2s ease;
                -moz-transition: all .2s ease;
                -ms-transition: all .2s ease;
                -o-transition: all .2s ease;
                transition: all .2s ease;
            }


        }

        &-1 {
            top: 10%;
            left: 48%;

        }

        &-2 {
            top: 20%;
            right: 37%;
        }

        &-3 {
            top: 20%;
            left: 33%;
        }

        &-4 {
            top: 21%;
            left: 10%;
        }

        &-5 {
            top: 21%;
            right: 14%;
        }

        &__section {

            position: absolute;
            left: 0;
            top: 50%;
            transform:translateY(-50%);
            z-index: 2;
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -ms-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
            color: #000000;

            .stripe-point__content {
                width: 71px;
                height: 71px;
                border-radius: 100px;
                background-color: #fbc455;
                font-size: 13px;
            }

        }

        &__room {

            position: absolute;
            z-index: 1;
            left: 0;
            top: 50%;
            transform:translateY(-50%);
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -ms-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;

            .stripe-point__content {
                width: 70px;
                height: 70px;
                border-radius: 100px;
                background-color: #e31e24;
                font-size: 11px;
                color: #ffffff;
            }

        }

        &__text {
            text-align: center;
            line-height: 1;
            position: absolute;
            top: 45%;
            left: 50%;
            transform:translate(-50%,-50%);
            width: 62px;

            span {
                display: block;
            }
        }


        &__arrow {
            content: '';
            position: absolute;
            bottom: -65px;
            left: 24px;
            border: 10px solid transparent;
            border-top: 16px solid #fbc455;
        }
    }

    &-layout {
        max-width: 960px;
        margin: 0 auto;
    }

    &-floor {
        background-color: #fff;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 40px 16px;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease;

        &.is-show {
            z-index: 10;
            opacity: 1;
            visibility: visible;
            transition: all .2s ease;
        }

        &__head {
            position: relative;
            min-height: 120px;

            &::after {
                content: '';
                clear: both;
                display: table;
            }
        }

        &__scheme {
            text-align: center;

            img {
                display: inline-block;
            }
        }

        &__point {
            float: left;
            .stripe-point {
                position: relative;
                top: auto;
                left: auto;
                display: inline-block;

                &::after {
                    content: '';
                    clear: both;
                    display: table;
                }

                .stripe-point__section {
                    left: auto;
                    position: relative;
                    top: auto;
                    transform: none;
                    float: left;

                    .stripe-point__content {
                        background-color: #e31e24;
                        border: 6px solid #fff;
                        color: #ffffff;
                        width: 90px;
                        height: 90px;
                        font-size: 18px;
                    }
                }

                .stripe-point__room {
                    left: -6px;
                    position: relative;
                    top: auto;
                    transform: none;
                    float: left;
                    width: 100px;
                    height: 100px;

                    .stripe-point__content {
                        width: 100px;
                        height: 100px;
                        font-size: 15px;

                        .stripe-point__text {
                            width: 90%;
                        }
                    }
                }

                .stripe-point__arrow {
                    border-top-color: #e31e24;
                    bottom: -28px;
                    left: 50%;
                    margin-left: -11px;
                }
            }

        }

        &__num {
            position: absolute;
            top: -20px;
            left: 50%;
            transform:translateX(-50%);
            text-align: center;

            .floor-nav {
                display: inline-block;
                position: relative;
                &-content {
                    padding: 40px 0;

                }

                &-pos {
                    font-size: 36px;
                    color: #000000;
                    text-align: center;
                    font-weight: 700;
                    font-family: "Stem", sans-serif;

                }

                &-up {
                    position: absolute;
                    border: 11px solid transparent;
                    border-bottom: 18px solid #fbbb00;
                    top: 0;
                    left: 50%;
                    margin-left: -10px;
                    cursor: pointer;
                }

                &-down {
                    position: absolute;
                    border: 11px solid transparent;
                    bottom: 0;
                    left: 50%;
                    margin-left: -10px;
                    border-top: 18px solid #fbbb00;
                    cursor: pointer;
                }
            }

            .floor-return {
                font-size: 18px;
                text-align: center;

                a {
                    color: #000;
                    text-align: center;
                    border-bottom: 1px dotted #000;
                }
            }

        }

        &__legends {

            float: right;

            &::after {
                content: '';
                clear: both;
                display: table;
            }

            .stripe-popup-close {
                display: none;
            }

        }
    }

    &-legends {
    }

    &-legend {

        &-mobile {
            display: none;
            position: absolute;
            z-index: 11;
            right: 30px;
            top: 50px;
            font-size: 14px;
            text-align: center;
            color: #000;
            text-decoration: underline;
            line-height: 1.4;
            font-weight: 500;
        }

        &-list {
            float: left;
            margin-right: 30px;

            &:last-child {
                margin: 0;
            }
        }

        &-item {
            margin-bottom: 6px;
        }

        &-card {

            &::after {
                content: '';
                clear: both;
                display: table;
            }

            &__color {
                width: 10px;
                height: 10px;
                margin-right: 10px;
                float: left;
                position: relative;
                top: 3px;
            }

            &__text {
                font-size: 15px;
                color: #000000;
                float: left;
            }
        }
    }

    &-apartment {
        background-color: #fff;
        position: absolute;
        z-index: 12;
        top: 0;
        left: 50%;
        transform:translateX(-50%);
        width: 960px;
        height: 100%;
        padding: 40px 30px;
        border-left: 3px solid #ebf5f7;
        border-right: 3px solid #ebf5f7;
        display: none;

        .floor-nav-content {
            padding: 10px 0;
        }

        .stripe-floor__head {
            margin-bottom: 45px;
        }

        .stripe-apartment__body {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            &::after {
                content: '';
                clear: both;
                display: table;
            }
        }

        &-info {
            width: 20%;

            &__item {
                font-size: 18px;
                margin-bottom: 15px;

                span {
                    display: block;
                }
            }

            &__price {
                color: #0b9e54;
                font-weight: 700;
            }
        }

        &__scheme {
            width: 60%;
            text-align: center;

        }

        &-btns {
            width: 20%;

            &__item {
                margin-bottom: 17px;
            }
        }

        &-btn {
            display: inline-block;
            width: 190px;
            padding: 12px 24px 12px 48px;
            position: relative;
            background-color: #0b9e54;
            border-radius: 6px;
            font-size: 14px;
            color: #ffffff;
            text-transform: uppercase;
            transition: all .2s ease;

            &:hover {
                opacity: .9;
                transition: all .2s ease;
            }


            &__icon {
                position: absolute;
                left: 14px;
                top: 50%;
                transform:translateY(-50%);

            }

            &--act {
                background-color: #fbbb00;
                color: #000000;
            }
        }
    }

    &-popup {
        &-close {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 20px;
            width: 30px;
            height: 30px;
            &::before {
                content: '';
                border: none;
                position: absolute;
                top: 6px;
                left: 14px;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                height: 19px;
                width: 2px;
                border-radius: 20px;
                background-color: #111;
            }

            &::after {
                content: '';
                border: none;
                position: absolute;
                top: 15px;
                left: 6px;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                width: 19px;
                height: 2px;
                border-radius: 20px;
                background-color: #111;
            }


        }
    }

    &-section {
        position: absolute;
        top: 0;
        left: 0;
        svg {
            width: 100%;
            height: 100%;
        }

        &-floor {
            opacity:0;
            fill:#FABA00;
            enable-background:new;
            transition: all .2s ease;
            cursor: pointer;

            &:hover {
                opacity: .5;
                transition: all .2s ease;
            }
        }

        &-mobile {
            display: none;
            background-color: #fff;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
            padding: 27px 20px 20px;
            margin-bottom: 20px;

            &__title {
                color: #fbbb00;
                text-transform: uppercase;
                margin-bottom: 18px;
                font-weight: 700;
            }

            &__item {
                fill:#FAC455;
                cursor: pointer;

                &.active {
                    fill: #ffe400;
                }

                &:hover {
                    fill: #ffe400;
                }
            }
        }
    }
}





@media (max-width:960px){
    .stripe-floor {
        position: relative;
        left: auto;
        top:auto;
        display: none;
        opacity: 1;

        &.is-show {
            display: block;
        }
    }
}

@media (max-width:800px){


    .stripe-apartment .stripe-point__section,
    .stripe-apartment .stripe-point__arrow,
    .stripe-floor .stripe-point__section,
    .stripe-floor .stripe-point__arrow {
        display: none;
    }

    .stripe-floor__legends {
        display: none;
    }

    .stripe-legend-mobile {
        display: block;
    }

    .stripe-floor__point .stripe-point .stripe-point__room {
        left: 0;
    }

    .stripe-floor__legends.is-show {
        position: absolute;
        display: block;
        z-index: 50;
        top: -40px;
        left: -16px;
        right: -16px;
        //width: 100%;
        background-color: #fff;
        padding: 14px 16px;

        .stripe-popup-close {
            display: block;
        }
    }

    .stripe-legend-list {
        margin: 0 10px 10px 0;
    }
}
@media (max-width:700px){
    .stripe-bg {
        display: none;
    }

    .stripe-section-mobile {
        display: block;
    }

    .stripe {
        padding: 10px;
        margin-bottom: 17px;
    }
}


@media (max-width:480px){
    .stripe-legend-mobile {
        right: 10px;
        font-size: 12px;
    }

    .stripe-floor__point .stripe-point .stripe-point__room .stripe-point__content {
        width: 70px;
        height: 70px;
        border-radius: 100px;
        font-size: 11px;
    }

    .stripe-floor__point .stripe-point .stripe-point__room {
        width: auto;
        height: auto;
    }
}











































/*-----------------------------------*/
/*-----------------------------------*/
/*END новое оформление покупки квартиры*/
/*-----------------------------------*/
/*-----------------------------------*/